# Dataset Cleaner

Import the necessary libs

In [1]:
import pandas as pd

Load the dataset

In [2]:
bsd = pd.read_csv("assets/Bird Strikes Dataset.csv")

Display the first few rows of the dataset to understand its structure

In [3]:
bsd.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/00 0:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,7/25/01 0:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,9/14/01 0:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/02 0:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,6/23/03 0:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50,0,No

Checking for missing values and data types

In [4]:
bsd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  object
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  object
 23  Feet above ground                        25429 non-null  object
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), int64(3), object(21)
memory usage: 4.7+ MB

Checking for any obvious inconsistencies or erroneous data

In [5]:
bsd.describe(include="all")

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
count,25558.000000,25429,25429,25429,25558,25429,25558.000000,2078,25429,25558,...,25558,20787,25429,25558,25558,25429,25558,25429,25558.000000,25429
unique,NaN,1,1109,2,351,4,NaN,4,4225,2,...,2,18186,3,3,348,2,803,257,NaN,2
top,NaN,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,B-737-700,1,NaN,Precautionary Landing,10/28/10 0:00,No damage,...,False,NO DMG.,Small,No Cloud,Unknown bird - small,N,0,0,NaN,No
freq,NaN,25429,803,20556,2488,20790,NaN,1121,28,23081,...,23601,740,17412,12642,10505,14567,24330,9843,NaN,17027
mean,253916.085609,NaN,NaN,NaN,NaN,NaN,2.691525,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001056,NaN
std,38510.453382,NaN,NaN,NaN,NaN,NaN,12.793975,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050420,NaN
min,1195.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,225783.750000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
50%,248749.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
75%,269168.750000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
max,321909.000000,NaN,NaN,NaN,NaN,NaN,942.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN

Remove dollar sign and convert 'Cost: Total $' to numeric

In [6]:
bsd["Cost: Total $"] = (
    bsd["Cost: Total $"].replace("[\$,]", "", regex=True).astype(float)
)

Fill missing values for categorical columns with 'Unknown'

In [7]:
categorical_columns = [
    "Aircraft: Type",
    "Airport: Name",
    "Altitude bin",
    "Wildlife: Number struck",
    "Effect: Impact to flight",
    "FlightDate",
    "Aircraft: Number of engines?",
    "Aircraft: Airline/Operator",
    "Origin State",
    "When: Phase of flight",
    "Wildlife: Size",
    "Pilot warned of birds or wildlife?",
    "Is Aircraft Large?",
]
bsd[categorical_columns] = bsd[categorical_columns].fillna("Unknown")

Convert 'Feet above ground' to numeric, errors='coerce' will convert invalid parsing to NaN

In [8]:
bsd["Feet above ground"] = pd.to_numeric(bsd["Feet above ground"], errors="coerce")

Drop rows where 'Feet above ground' is NaN after conversion

In [9]:
bsd = bsd.dropna(subset=["Feet above ground"])

Re-check the dataset for any more remaining missing values

In [10]:
bsd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19730 entries, 1 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                19730 non-null  int64
 1   Aircraft: Type                           19730 non-null  object
 2   Airport: Name                            19730 non-null  object
 3   Altitude bin                             19730 non-null  object
 4   Aircraft: Make/Model                     19730 non-null  object
 5   Wildlife: Number struck                  19730 non-null  object
 6   Wildlife: Number Struck Actual           19730 non-null  int64
 7   Effect: Impact to flight                 19730 non-null  object
 8   FlightDate                               19730 non-null  object
 9   Effect: Indicated Damage                 19730 non-null  object
 10  Aircraft: Number of engines?             19730 non-null  object
 11  Aircraft: Airline/Operator               19730 non-null  object
 12  Origin State                             19730 non-null  object
 13  When: Phase of flight                    19730 non-null  object
 14  Conditions: Precipitation                1779 non-null   object
 15  Remains of wildlife collected?           19730 non-null  bool
 16  Remains of wildlife sent to Smithsonian  19730 non-null  bool
 17  Remarks                                  16085 non-null  object
 18  Wildlife: Size                           19730 non-null  object
 19  Conditions: Sky                          19730 non-null  object
 20  Wildlife: Species                        19730 non-null  object
 21  Pilot warned of birds or wildlife?       19730 non-null  object
 22  Cost: Total $                            19730 non-null  float64
 23  Feet above ground                        19730 non-null  float64
 24  Number of people injured                 19730 non-null  int64
 25  Is Aircraft Large?                       19730 non-null  object
dtypes: bool(2), float64(2), int64(3), object(19)
memory usage: 3.8+ MB

Checking for any remaining missing values in the cleaned dataset

In [11]:
print(bsd.isnull().sum())

Record ID                                      0
Aircraft: Type                                 0
Airport: Name                                  0
Altitude bin                                   0
Aircraft: Make/Model                           0
Wildlife: Number struck                        0
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                       0
FlightDate                                     0
Effect: Indicated Damage                       0
Aircraft: Number of engines?                   0
Aircraft: Airline/Operator                     0
Origin State                                   0
When: Phase of flight                          0
Conditions: Precipitation                  17951
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     3645
Wildlife: Size                                 0
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?             0
Cost: Total $                                  0
Feet above ground                              0
Number of people injured                       0
Is Aircraft Large?                             0
dtype: int64

In [12]:
missing_values = bsd.isnull().sum()

Displaying columns with missing values

In [13]:
missing_values[missing_values > 0]

Conditions: Precipitation    17951
Remarks                       3645
dtype: int64

Filling missing values in 'Conditions: Precipitation' with 'Unknown'

In [14]:
bsd['Conditions: Precipitation'] = bsd['Conditions: Precipitation'].fillna('Unknown')

Since 'Remarks' is mostly unstructured text and might not be critical for many analyses, we can drop this column if needed

In [15]:
bsd = bsd.drop(columns=['Remarks'])

Verify that there are no missing values in the dataset

In [16]:
print(bsd.isnull().sum())

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

Generate a cleaned dataset

In [17]:
bsd.to_csv("assets/cleaned_dataset.csv", index=False, encoding="utf-8")